---
---

$navbar-color: white;
$navbar-hover-color: black;
$navbar-brand-font-size: 1rem;
$navbar-brand-padding-y: 0rem;
$navbar-brand-margin-end: 0rem;
$navbar-toggler-padding-X: 2px;
$navbar-toggler-padding-y: 2px;
$navbar-toggler-font-size: 1rem;

@import "bootstrap/bootstrap";
@import "personal_aaye_style";
